/*********Estilos Generales*********/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;

}

html {
    height: 100vh;
}

body {
    min-height: 100%;
}

/******************Estilos Header******************/

header {
    grid-area: header;

    display: grid;
    gap: 2px;
    grid-template:
        "header1 " 40%
        "header2" auto
    ;
}

/**********Header1-barra**********/


/*Header1-barra*/
.header1 {
    grid-area: header1;
    display: grid;

    grid-template-columns: 70% 30%;

}

.col1 a {
    font-size: 15px;
    font-weight: bold;
    color: #39c;
}

.col1 ul {
    display: flex;
    justify-content: flex-end;

}

.col1 ul li {
    margin-left: 30px;
    list-style: none;
    padding: 5px;
}

.col2 {
    background-color: rgb(151, 80, 206);
    display: inline-block;
}

/*Header1-barra*/

/*barra de busqueda*/

#box-search {
    position: fixed;
    top: 165px;
    left: 50%;
    transform: translate(-50%);
    width: 120px;
    background: #39c;
    z-index: 8;
    overflow: hidden;
    display: none;

}

#home {
    cursor: pointer;
}

#events {
    cursor: pointer;
}

.buttonSearch {
    background-color: rgb(37, 82, 0);
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 10px;
    margin: 2px 0px;
    padding: 10px 0px;
    text-align: center;
    width: 80px;
}

input {
    border-radius: 5px;
    border: 1px solid rgb(77, 80, 82);
}

/*barra de busqueda*/

/*Botones*/
.buttonBusines {

    color: rgb(176, 35, 35);
    display: inline-block;
    font-size: 10px;
    margin: 2px 0px;
    padding: 10px 0px;
    text-align: center;
    width: 80px;
}

/*Botones*/



/**********Header1-barra**********/

/**********Header2-barra**********/

.header2 {
    grid-area: header2;
    display: grid;

    grid-template-columns: 50% 50%;
}

/**********Header2-barra**********/


h1 {
    text-align: left;
    padding: 15px 0 0 85px;
}

h2 {
    text-align: left;
    padding: 15px 0 0 85px;

}

nav {
    grid-area: navbar;
    display: grid;
    background-color: rgb(187, 187, 187);
    grid-template-columns: 80% 20%;


}






nav ul li {
    list-style: none;

    float: left;
    padding: 10px 35px 10px 35px;

}

nav a {
    font-size: 18px;
    font-weight: bold;

}

/*Estilos Sidebar*/

aside {
    grid-area: sidebar;

    display: grid;
    gap: 3px;
    grid-template:
        "filtros " 240px
        "producto" 120px
        "producto" 120px
        "producto" 120px
    ;
}



.filtros {
    grid-area: filtros;

    display: block;
    text-align: left;
}


.filtros ul li {
    list-style: none;
    margin: 10px;
}

.producto {
    background-color: black;
}


/*Estilos mainpage*/
.main {
    height: auto;
    grid-area: main;

}

.main1 {

    display: flex;
    flex-wrap: wrap;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.img {
    width: 70%;

    margin-left: 15%;
    grid-column: 1 / 2;
    grid-row: 1/ 3;
    background-image: url(assets/img0.jpg);
    background-size: contain;

}

.catproducto {
    grid-column: 1 / 2;
    grid-row: 3/ 4;
    background-color: rgb(188, 138, 58);

}


.desproducto {
    height: auto;
    grid-column: 1 / 2;
    grid-row: 4/5;
    background-color: aqua;
}

.callproducto {
    grid-column: 1 / 2;
    grid-row: 5/ 6;
    background-color: blue;
}


.featproducto {
    grid-column: 1 / 2;
    grid-row: 6/8;
    background-color: rgb(205, 52, 52);
}


/*tabla*/
.table {


    width: 100%;
    height: auto;
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    border-collapse: collapse;


}

.o {
    background-color: aquamarine;

}

.columgray {

    background-color: #f2f2f2;


}

td {
    padding: 8px;
}



.line {
    border-right: 1px solid;
    border-color: rgb(0, 0, 0);
}

/*tabla*/
/*productos relacionados*/
.relatedprod {

    display: flex;

    min-height: 10rem;
    background-color: black;

}


.img1 {

    background-image: url(/assets/img3.jpg);

    background-repeat: no-repeat;
    background-size: 90%;
    background-position: calc(100% - 50%);
}


/*productos relacionados*/






/*Grid Area mediaquery*/

.grid-container {
    display: grid;
    gap: 0px;

    grid-template:
        "header" 100px
        "navbar" 50px
        "main" auto
        "sidebar" auto
    ;
}

@media(min-width:600px) {


    .grid-container {
        /* 
       grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas:
            "header header"
            "navbar navbar"
            "sidebar main"
            "footer footer"
           
        ; */

        grid-template:
            "header header"
            "navbar navbar"
            "sidebar main" auto/
            260px auto
        ;
    }

}

@media(min-width:600px) {






    .main1 {
        min-height: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .img {


        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    .desproducto {
        grid-column: 3/5;
        background-color: aqua;
        grid-row: 1 / 3;
    }

    .callproducto {
        grid-column: 5/6;
        background-color: blue;
        grid-row: 1 / 3;
    }

    .catproducto {
        grid-column: 1/3;
        grid-row: 3/4;

        background-color: rgb(188, 138, 58);
    }



    .featproducto {
        grid-column: 3/6;

        grid-row: 3/5;
        background-color: rgb(205, 52, 52);
    }

    .relatedprod {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    }


}