/*********Estilos Generales*********/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;


}

html {
    height: 100vh;
    font-family: 'Roboto';

}

body {
    min-height: 100%;
}

/******************Estilos Header******************/

header {
    grid-area: header;

    display: grid;
    gap: 2px;
    grid-template:
        "header1 " 40%
        "header2" auto
    ;
}

/**********Header1-barra**********/


/*Header1-barra*/
.header1 {
    padding-top: 10px;
    grid-area: header1;
    display: grid;
    background-color: rgb(228, 222, 222);
    grid-template-columns: 70% 30%;
    border: 1px rgb(0, 0, 0) solid;

}

.col1 a {
    font-size: 15px;
    font-weight: 500;


}

.col1 ul {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;

}

.col1 ul li {

    margin-left: 30px;
    list-style: none;


}

.ap {
    padding-left: 1rem;
}

/*Header1-barra*/

/*Header2-barra*/
.col2 {

    display: inline-block;
}

.hed {
    font-size: 3rem;
    font-weight: 500;
    padding-left: 10rem;
}

.heder23 {
    font-size: 2rem;
    font-weight: 400;

    padding: 1rem;
}

.submenu {
    font-size: 1rem;
    font-weight: 400;
    list-style: none;
    display: flex;

    padding: 10px 25px 10px 25px;
}

/**********Header2-barra**********/

.header2 {
    grid-area: header2;
    display: grid;


    grid-template-columns: 50% 50%;
}

nav {
    grid-area: navbar;
    display: grid;
    background-color: rgb(228, 222, 222);
    grid-template-columns: 80% 20%;
    border: 1px rgb(0, 0, 0) solid;

}





/**********Header2-barra**********/

/*Header2-barra*/

/*barra de busqueda*/

#events,
#news {
    cursor: pointer;
}

.btn {
    padding: 1px 5px;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(228, 222, 222);

}




input {
    border-radius: 8px;
    padding: 2px 5px;
    border: 1px solid rgb(0, 0, 0);

}

/*barra de busqueda*/




/**********Header1-barra**********/



/*Estilos Sidebar*/

aside {
    grid-area: sidebar;

    display: grid;
    gap: 3px;
    grid-template:
        "filtros " 240px
        "producto" 120px
        "producto" 120px
        "producto" 120px
    ;
}

.fil_text {
    font-size: 1.3rem;
    font-weight: 500;
    padding-top: 1rem;
}

.filtros {
    grid-area: filtros;

    display: block;
    text-align: left;
}


.filtros ul li {
    list-style: none;
    margin: 10px;
}

.producto {
    background-color: rgb(228, 222, 222);

    border: 1px rgb(0, 0, 0) solid;
}


/*Estilos mainpage*/
.main {
    height: auto;
    grid-area: main;

}

.main1 {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

.img {
    width: 70%;

    margin-left: 15%;
    grid-column: 1 / 2;
    grid-row: 1/ 3;



}


.catproducto {
    grid-column: 1 / 2;
    grid-row: 3/ 4;
    padding-top: 1rem;
    padding-left: 1rem;

}

.related-tittle {

    font-size: 1.3rem;
    font-weight: 500;
}

.link {

    color: black;
    text-decoration: underline;
}

/* desproducto */
.desproducto {
    height: auto;
    grid-column: 1 / 2;
    grid-row: 4/5;

}

.tituloprod {

    font-size: 1.5rem;
    font-weight: 500;
}

.subprod {
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.loremprod {
    padding-top: 1rem;
    font-size: 1rem;
}

/* desproducto */

/* callproducto */

.callproducto {
    grid-column: 1 / 2;
    grid-row: 5/ 6;

}


.requestbutto {
    background-color: rgb(228, 222, 222);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: .7rem 1rem;
    border: solid 1px rgb(0, 0, 0);
    cursor: pointer;
    margin-bottom: 1rem;

}

.btnpricing {
    border: solid 1px rgb(0, 0, 0);
    padding: 2rem 1rem;
    height: auto;
    background-color: rgb(192, 232, 232);
    text-align: center;
    text-decoration: none;
    font-size: 1rem;



}

.color {
    color: black;

}


.btnpad {
    padding-bottom: 2rem;
}

/* callproducto */


.featproducto {
    padding-left: 3rem;
    grid-column: 1 / 2;
    grid-row: 6/8;

}



/*tabla*/
.table {


    width: 100%;
    height: auto;
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    border-collapse: collapse;


}



.columgray {

    background-color: #f2f2f2;


}

td {
    padding: 8px;
}



.line {
    border-right: 1px solid;
    border-color: rgb(0, 0, 0);
}

/*tabla*/
/*productos relacionados*/
.relatedprod {

    display: flex;
    padding-top: 1rem;
    min-height: 10rem;


}


.img1 {

    background-image: url(/assets/img3.jpg);

    background-repeat: no-repeat;
    background-size: 90%;
    background-position: calc(100% - 50%);
}


/*productos relacionados*/






/*Grid Area mediaquery*/

.grid-container {
    display: grid;
    gap: 0px;

    grid-template:
        "header" 100px
        "navbar" 50px
        "main" auto
        "sidebar" auto
    ;
}

@media(min-width:600px) {


    .grid-container {
        /* 
       grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas:
            "header header"
            "navbar navbar"
            "sidebar main"
            "footer footer"
           
        ; */
        margin: 1rem;

        grid-template:
            "header header"
            "navbar navbar"
            "sidebar main" auto/
            260px auto
        ;
    }

}

@media(min-width:600px) {






    .main1 {
        min-height: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .img {


        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    .desproducto {
        grid-column: 3/5;
        grid-row: 1 / 3;
    }

    .callproducto {
        grid-column: 5/6;

        grid-row: 1 / 3;
    }

    .catproducto {
        grid-column: 1/3;
        grid-row: 3/4;

    }



    .featproducto {
        grid-column: 3/6;

        grid-row: 3/5;

    }

    .relatedprod {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    }


}